<input class="VolumeControl-range" type="range" orient="vertical"
  min={{min}} max={{max}} value={{value}} step={{step}} />
<div class="VolumeControl-track">
  <div class="VolumeControl-track--lower"></div>
  <div class="VolumeControl-track--upper"></div>
</div>
